<div class="row-10">
    <div class="col-2 mx-auto text-center">
      <h3 class="bg-light mt-5 ml-5 mb-5">投稿一覧</h3>
    </div>
  </div>
<div class="container d-flex">
  <div class="col-3 mt-5">キーワード検索
    <%= form_with url: admin_search_path, method: :get do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
      <% end %>
  </div>

  <div class="col-10 mb-5">
    <table class="table">
    <thead>
      <tr class="table-secondary text-algin-left">
        <th style="width: 15%">ユーザー名</th>
        <th style="width: 20%">タイトル</th>
        <th style="width: 20%">感想</th>
        <th style="width: 20%">レビュー</th>
        <th style="width: 15%">投稿日</th>
        <th style="width: 20%">ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
      <tr>
      <td><%= book.user.name %></td>
      <td><%= link_to admin_book_path(book.id) do %><%= book.title %><% end %></td>
      <td><%= book.body %></td>
      <td><div id="star-rate<%= book.id %>"></td>
        <script>
          $('#star-rate<%= book.id %>').empty();
          $('#star-rate<%= book.id %>').raty({
            size    : 36,
            starOff : '<%= asset_path('star-off.png') %>',
            starOn  : '<%= asset_path('star-on.png') %>',
            half    : false,
            readOnly: true,
            score   : <%= book.star %>,
          });
        </script>
        </div>
      <td><%= book.created_at.strftime('%Y/%m/%d')%></td>
      <td><%= book.is_active ? '本棚' : '処分済み' %></td>
      </tr>
    </tbody>
      <% end %>
  </table>
  </div>
</div>