
  <div class="row-10 mt-5 mb-5">
    <h2 class="col-2 mx-auto text-center bg-light">投稿詳細</h2>
  </div>
  <div class="container d-flex mx-auto">
　　<div class="col-3"><%= image_tag @book.get_image(200,200) %></div>
　　<div class="col-6">
　　  <table class="table-borderless text-algin-left w-100">
        <thead>
          <tr>
            <th style="width: 30%">投稿日</th>
            <td><%= @book.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th>ユーザー</th>
            <td><%= @user_book.name %></td>
          </tr>
          <tr>
            <th>タイトル</th>
            <td><%= @book.title %></td>
          </tr>
          <tr>
            <th>感想</th>
            <td><%= @book.body %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @book.genre.name %></td>
          </tr>
          <tr>
            <th>レビュー</th>
            <td><div id="star-rate<%= @book.id %>">
        <script>
          $('#star-rate<%= @book.id %>').empty();
          $('#star-rate<%= @book.id %>').raty({
            size    : 36,
            starOff : '<%= asset_path('star-off.png') %>',
            starOn  : '<%= asset_path('star-on.png') %>',
            half    : false,
            readOnly:true,
            score   : <%= @book.star %>,
          });
        </script>
      </div></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td><%= @book.is_active ? '本棚' : '処分済み' %></td>
          </tr>
        </thead>
      </table>

      <%= link_to "削除する", admin_book_path(@book.id), :class => "btn btn-danger ml-5 mt-4" %>
      </div>
　　</div>