<div class="container">
  <div class="row">
    ユーザー編集
  </div>
  <div class="row-10 mx-auto">
    <table class="table-borderless text-algin-left">
      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
        <thead>
          <tr>
            <th style="width: 50%">ユーザーID</th>
            <td style="width: 50%"><%= @user.id %></td>
          </tr>
          <tr>
            <th>ユーザー名</th>
            <td><%= f.text_field :name, :class => "col-10" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.text_field :email, :class => "col-10" %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td>
              <%= f.radio_button :is_active, "false" %>
              <%= f.label :is_active, "有効", value: :false, :class => "col-4"  %>
              <%= f.radio_button :is_active, "true" %>
              <%= f.label :is_active, "退会", value: :true, :class => "col-4" %>
            </td>
          </tr>
        </thead>
      </table>
      <div class="row">
        <%= f.submit "変更を保存", :class => "btn btn-success col-4 mb-5 mt-3" %>
      </div>
      <% end %>
  </div>

</div>