<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h3 class="bg-light mt-5 ml-5 mb-4">ユーザー一覧</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
  <table class="table col-lg-10 ">
    <thead>
      <tr class="table-secondary text-algin-left">
        <th>ユーザーID</th>
        <th style="width: 30%">ユーザー名</th>
        <th style="width: 30%">メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
      <td><%= user.id %></td>
      <td><%= link_to admin_user_path(user.id) do %><%= user.name %><% end %></td>
      <td><%= user.email %></td>

      <td><%= user.is_active ? '退会' : '有効' %></td>
      </tr>
    </tbody>
      <% end %>
  </table>
  </div>
  </div>
</div>

<ul class="pagination">
<%= paginate @users %>
</ul>