<div class="container">
  <div class="row">
  <h3 class="col-3 bg-light text-center mt-5 mb-5 mx-auto">投稿編集</h3>
  </div>
  <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  <div class="row-10">
    <div class="col-4 mx-auto">画像</div>
    <div class="col-4 mx-auto mb-3"><%= f.file_field :image, accept: "image/*" %></div>
  </div>
  <div class="row-10">
    <div class="col-4 mx-auto">タイトル</div>
    <div class="col-4 mx-auto mb-3"><%= f.text_field :title, :size => "37" %></div>
  </div>
  <div class="row-10">
    <div class="col-4 mx-auto">感想</div>
    <div class="col-4 mx-auto mb-3"><%= f.text_area :body, :size => "36x7" %></div>
  </div>
  <div class="row-10">
    <div class="col-4 mx-auto">ジャンル</div>
    <div class="col-4 mx-auto mb-4"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></div>
  </div>
  <div class="row-10">
    <div class="col-4 mx-auto">タグ</div>
    <div class="col-4 mx-auto mb-4">
      <%= f.text_field :tag_ids, value: @tag_list, placeholder: "複数の場合は’,’で区切ってください。", :size => "36" %>
      </div>
  </div>
    <div class="row-10">
      <div class="col-4 mx-auto pr-5">レビュー</div>
      <div class="col-4 mx-auto pb-3", id="star-rate<%= @book.id %>">
      <%= f.label :star, '評価', class:'star-title' %>
  <script>
    $('#star-rate<%= @book.id %>').empty();
    $('#star-rate<%= @book.id %>').raty({
      size     :36,
      starOff  : '<%= asset_path('star-off.png') %>',
      starOn   : '<%= asset_path('star-on.png') %>',
      score    : <%= @book.star %>,
      scoreName: 'book[star]',
      half     : false,
    });
  </script>
  </div>
    </div>

  <div class="row-10">
    <div class="col-4 mx-auto">ステータス</div>
    <div class="col-4 mx-auto mb-4">
    <%= f.radio_button :is_active, "true" %>
    <%= f.label :is_active, "本棚", :class => "col-og-3" %>
    <%= f.radio_button :is_active, "false" %>
    <%= f.label :is_active, "処分済み", :class => "col-lg-4"  %>
  </div>
    </div>
  </div>

  <div class="row-10">
    <div class="col-2 mx-auto mb-5">
      <%= f.submit "変更を保存", :class => "btn btn-success mb-5"%>
    </div>
  </div>
  <% end %>
</div>