<div class="container">
  <h3 class="row bg-light">投稿一覧</h3>
  <div class="row">
    <% @books.each do |book| %>
    <div class="col-3">
      <div class="book mb-5">
        <%= image_tag book.get_image(200, 200) %><br>
        <%= link_to user_path(book.user_id) do %><%= book.user.name %><% end %><br>
        <%= link_to book_path(book.id) do %><%= book.title %><% end %><br>
        <div id="star-rate<%= book.id %>">
          <script>
            $('#star-rate<%= book.id %>').empty();
            $('#star-rate<%= book.id %>').raty({
              size    : 36,
              starOff : '<%= asset_path('star-off.png') %>',
              starOn  : '<%= asset_path('star-on.png') %>',
              half    : false,
              readOnly: true,
              score   : <%= book.star %>,
            });
          </script>
        </div><br>

        <%=  %>
      </div>
    </div>
    <% end %>
  </div>
</div>