<div class="container d-flex">
  <div class="col-3 mt-5">
    <div class="row mb-5 search-form">キーワード検索
      <%= form_with url: search_path, method: :get do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="row tag">
     <%= form_with url: books_path, method: :get do %>
     <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
      {
       prompt: 'タグで絞り込み',
       onchange: 'submit(this.form);'
      }%>
     <% end %>
    </div>
  </div>

  <div class="col-9">
   <div class="row">
    <h3 class="col-3 bg-light text-center mt-5 mb-5">投稿一覧</h3>
   </div>
   <div class="row">
    <% @books.each do |book| %>
    <div class="col-4 p-0">
      <div class="book mb-5 pr-5">
        <%= book.created_at.strftime('%Y/%m/%d') %><br>
        <%= image_tag book.get_image(150, 200) %><br>
        <%= link_to user_path(book.user_id) do %><%= book.user.name %><% end %><br>
        <%= link_to book_path(book.id) do %><%= book.title %><% end %><br>
        <div class="tag text-secondary">
         <% book.tags.each do |tag| %>
         <%= tag.name %>
         <% end %>
        </div>
        <div id="star-rate<%= book.id %>">
          <script>
            $('#star-rate<%= book.id %>').empty();
            $('#star-rate<%= book.id %>').raty({
              size    : 36,
              starOff : '<%= asset_path('star-off.png') %>',
              starOn  : '<%= asset_path('star-on.png') %>',
              half    : false,
              readOnly: true,
              score   : <%= book.star %>,
            });
          </script>
        </div>
        <%= "#{book.book_comments.count}コメント"%>
      </div>
    </div>
    <% end %>
   </div>
  </div>
</div>