<div class="container-fluid d-flex w-100">

  <div class="col-4 ml-5 mt-4 border mb-5">
   <h4 class="col-7 bg-light mt-5 mb-5 mx-auto text-center"><%= @user.name%>さんの本棚</h4>
   <div class="row">
     <div class="col-5 mx-auto mb-5">
      <%= image_tag @user.get_profile_image(200,200) %>
     </div>
   </div>
   <div class="row mb-4">
     <div class="col-3">自己紹介</div>
     <div class="col-9"><%= @user.introduction %></div>
   </div>
   <div class="row mb-4">
     <div class="col-3">本棚</div>
     <div class="col-9"><%= @book_shelf.count %> 冊</div>
   </div>
   <div class="row mb-4">
     <div class="col-3">処分済み</div>
     <div class="col-9"><%= @book_deleted.count %> 冊</div>
   </div>
   <div class="row">
     <% if @user == current_user %>
     <%= link_to "編集する", edit_path(@user.id), :class => "btn btn-success col-3 mx-auto ml-5 mt-4 mb-5" %>
     <% end %>
   </div>
  </div>

  <div class="col-7 mt-5 mb-4 ml-4">
    <div class="row d-flex justify-content-between mb-3">
     <h2 class="col-3 ml-3">本棚</h2>
     <div class="col-3"><% if @user == current_user %><%= link_to "本棚に追加",new_book_path, :class => "btn btn-primary" %><% end %></div>
    </div>
    <table class="table w-100">
     <thead>
      <tr class="table-secondary text-algin-left">
        <th style="width: 25%">タイトル</th>
        <th style="width: 30%">感想</th>
        <th style="width: 25%">レビュー</th>
        <th style="width: 15%">ジャンル</th>
        <th style="width: 15%">投稿日</th>
      </tr>
     </thead>
     <tbody>
      <% @book_shelf.each do |book| %>
      <td><%= link_to book_path(book.id) do %><%= book.title %><% end %></td>
      <td><%= book.body %></td>
      <td>
        <div id="star-rate<%= book.id %>"></td>
         <script>
           $('#star-rate<%= book.id %>').empty();
           $('#star-rate<%= book.id %>').raty({
             size    : 36,
             starOff : '<%= asset_path('star-off.png') %>',
             starOn  : '<%= asset_path('star-on.png') %>',
             half    : false,
             readOnly: true,
             score   : <%= book.star %>,
           });
         </script>
        </div>
      <td><%= book.genre.name %></td>
      <td><%= book.created_at.strftime('%Y/%m/%d') %></td>
     </tbody>
     <% end %>
    </table>
    <h2 class="col-3 mt-5 mb-4">処分済み</h2>
    <table class="table w-100">
     <thead>
      <tr class="table-secondary text-algin-left">
        <th style="width: 25%">タイトル</th>
        <th style="width: 30%">感想</th>
        <th style="width: 25%">レビュー</th>
        <th style="width: 15%">ジャンル</th>
        <th style="width: 15%">投稿日</th>
      </tr>
     </thead>
     <tbody>
      <% @book_deleted.each do |book| %>
      <td><%= link_to book_path(book.id) do %><%= book.title %><% end %></td>
      <td><%= book.body %></td>
      <td>
        <div id="star-rate<%= book.id %>"></td>
         <script>
           $('#star-rate<%= book.id %>').empty();
           $('#star-rate<%= book.id %>').raty({
             size    : 36,
             starOff : '<%= asset_path('star-off.png') %>',
             starOn  : '<%= asset_path('star-on.png') %>',
             half    : false,
             readOnly: true,
             score   : <%= book.star %>,
           });
         </script>
        </div>
      <td><%= book.genre.name %></td>
      <td><%= book.created_at.strftime('%Y/%m/%d') %></td>
     </tbody>
      <% end %>
    </table>
  </div>
</div>