<div class="container-fluid d-flex w-100">

    <div class="col-4 ml-5 mt-4">
      <h4 class="col-7 bg-light mt-5 mb-5 ml-5 text-center"><%= @user.name%>さんの本棚</h4>
    <table class="table-borderless text-algin-left w-100 ml-5">
        <thead>
          <tr>
            <th style="width: 30%">自己紹介</th>
            <td class="pr-5"><%= @user.introduction %></td>
          </tr>
          <tr>
            <th>本棚</th>
            <td><%= %></td>
          </tr>
          <tr>
            <th>処分済み</th>
            <td><%= %></td>
          </tr>
        </thead>
      </table>

      <%= link_to "編集する", edit_path(@user.id), :class => "btn btn-success ml-5 mt-4" %>
      </div>




    <div class="col-7 mt-5 mb-4 ml-4">
      <div class="row d-flex justify-content-between mb-3">
      <h2 class="col-3 ml-3">本棚</h2>
      <div class="col-3"><%= link_to "本棚に追加","/", :class => "btn btn-primary" %></div>
      </div>
  <table class="table w-100">
    <thead>
      <tr class="table-secondary text-algin-left">
        <th style="width: 20%">タイトル</th>
        <th style="width: 30%">感想</th>
        <th style="width: 20%">レビュー</th>
        <th style="width: 20%">ジャンル</th>
        <th style="width: 20%">投稿日</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
      <td><%= link_to "/" do %><%= book.title %><% end %></td>
      <td><%= link_to "/" do %><%= book.body %><% end %></td>
      <td><%= book.star %></td>
      <td><%= book.genre.name %></td>
      <tb><%= book.created_at.strftime('%Y/%m/%d') %></tb>
    </tbody>
      <% end %>
  </table>

  <h2 class="col-12 mt-5 mb-4">処分済み</h2>
  <table class="table w-100">
    <thead>
      <tr class="table-secondary text-algin-left">
        <th style="width: 20%">タイトル</th>
        <th style="width: 30%">感想</th>
        <th style="width: 20%">レビュー</th>
        <th style="width: 20%">ジャンル</th>
        <th style="width: 20%">投稿日</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
      <td><%= link_to "/" do %><%= book.title %><% end %></td>
      <td><%= link_to "/" do %><%= book.body %><% end %></td>
      <td><%= book.star %></td>
      <td><%= book.genre.name %></td>
      <tb><%= book.created_at.strftime('%Y/%m/%d') %></tb>
    </tbody>
      <% end %>
  </table>
    </div>

</div>