<!DOCTYPE html>
<html>
  <head>
    <title>Hondanamanager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark">
        <div class="container">
          <div class="rogo">
          <p class="navbar-brand size-20px"></p>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto p-3" >
             <%  if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_genres_path, class: 'nav-link text-dark mr-3' do %>ジャンル一覧<% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_books_path, class: 'nav-link text-dark mr-3' do %>投稿一覧<% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_users_path, class: 'nav-link text-dark mr-3' do %>ユーザー一覧<% end %>
              </li>
              <li class="nav-item">
                <%= link_to  destroy_admin_session_path, method: :delete, class: 'nav-link text-dark mr-3' do %>ログアウト<% end %>
              </li>
             <% elsif user_signed_in? %>
             <li class="nav-item">
                <%= link_to "/", class: 'nav-link text-dark mr-3' do %>Top<% end %>
              </li>
              <li class="nav-item">
                <%= link_to "/", class: 'nav-link text-dark mr-3' do %>投稿一覧<% end %>
              </li>
              <li class="nav-item">
                <%= link_to mypage_path, class: 'nav-link text-dark mr-3' do %>マイページ<% end %>
              </li>
              <li class="nav-item">
                <%= link_to  destroy_user_session_path, method: :delete, class: 'nav-link text-dark mr-3' do %>ログアウト<% end %>
              </li>

              <% else %>

              <li class="nav-item">
                <%= link_to "/", class: 'nav-link text-dark mr-3' do %>Top<% end %>
              </li>
              <li class="nav-item">
                <%= link_to "/", class: 'nav-link text-dark mr-3' do %>投稿一覧<% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'nav-link text-dark mr-3' do %>新規登録<% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_session_path, class: 'nav-link text-dark mr-3' do %>ログイン<% end %>
              </li>
             <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <div class="push"></div>
    <footer class="footer">
     <div class="container">
      <p class="text-muted text-center">hondanamanager</p>
     </div>
    </footer>
  </body>
</html>
